//----------------------------------
// COLORS
//----------------------------------

// Please start all colors with $color-
// Not only does it help you out when you are coding, but the colors will automatically pull up as you start typing.
// Please utilize actual color names. ex: $color-skyblue over $color-warning.
// For color ideas, use http://chir.ag/projects/name-that-color/ for a rough idea.


$color-href:            #004B85;
$color-href-visited:    #004B85;
$color-href-hover:      #7893AB;

$color-dark-blue:       #113F69;
$color-light-blue:      #DFE7ED;
$color-pine-green:      #027C67;
$color-dark-grey:       #43413F;
$color-light-grey:      #E4E3DF;
$color-light-tan:       #BBB6B0;
