/* - - - - - - - - - - - - - - - - - - - - - - -
    Style Guide Interface
- - - - - - - - - - - - - - - - - - - - - - - */

body.style-guide{background:#eee;}
.sg-wrapper{width:100%;padding:0 20px;}

#sg-header{position:fixed;z-index:2000;top:0;right:0;left:0;width:100%;padding:10px 0;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:#000;box-shadow:0 0 9px rgba(0,0,0,0.8);}
#sg-header h1{margin:0;padding:0;font-size:2.2em;font-weight:normal;color:#fff;}
#sg-header h1 strong{font-weight:bold;}

#sg-menu{display:none;}

#sg-content{padding:60px 0 40px;background:#fff;}
.sg-top{padding-top:20px;text-align:right;font-size:1.4em;}
.sg-top a{color:#00e;}

#sg-footer{margin:0;padding:20px 20px 40px;border-top:1px solid #ccc;text-align:center;background:#eee;}
#sg-footer p{margin:0;font-size:1.2em;}

h2.sg-title{margin:20px 0 15px;padding:4px 0;font-size:1.8em;color:#333;border-bottom:1px solid #999;}
h4.sg-title{margin:20px 0;padding:0;font-size:1.8em;font-weight:normal;color:#333;}

/* Style Patterns */
.sg-pattern{display:block;overflow:hidden;}

.sg-swatches,
.sg-swatches li{margin:0;padding;list-style:none;}
.sg-swatches li{display:inline-block;vertical-align:top;margin:0 20px 20px 0;padding:5px;border:1px solid #eee;width:108px;height:108px;}
.sg-swatches .sg-swatch{display:block;position:relative;width:100%;height:100%;}
.sg-swatches .sg-swatch .sg-label{position:absolute;bottom:0;left:0;width:100%;padding:3px;font-family:monospace;font-size:1em;text-align:center;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:#000;background:rgba(0,0,0,0.7);opacity:0;}
.sg-swatches .sg-swatch:hover .sg-label{opacity:1;}

/* Style Tiles */
body.style-tiles #sg-content .sg-wrapper{width:1000px;margin:0 auto;padding-bottom:60px;overflow:hidden;}
.sg-tile{display:block;float:left;width:50%;padding:0 20px;}
body.style-tiles .sg-swatches li{width:74px;height:74px;margin:0 10px 10px 0;}

