//----------------------------------
// FOOTER
//----------------------------------
#footer {
    padding: 0 0 (2 * $gutter-large);
    text-align: center;
    color: #fff;
    @include font-smoothing;
    background-color: $color-dark-grey;
    border-top: 38px solid $color-light-blue;

    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover,
    a:active {
        background: rgba(0,0,0,0.2);
    }
    h4,
    h5,
    p {
        font-size: 15px;
    }
    h4 {
        margin-top: 50px;
        text-transform: uppercase;
    }
    .menu .children {
        margin-bottom: 0;
        padding-left: 1em;
    }
    @media (min-width: $mq-min-large) {
        .footer-col {
            position: relative;
            float: left;
            width: 24%;
            text-align: left;
            &:nth-child(2) {
                width: 56%;
                padding: 0 (2 * $gutter-large);
            }
            &:nth-child(3) {
                width: 20%;
                padding-top: 90px;
            }
        }
        h4 {
            padding-bottom: 5px;
            border-bottom: 1px solid $color-light-grey;
        }
    }
}