//----------------------------------
// NAVIGATION
//----------------------------------
.menu {
    @extend %naked-list;
    li {
        @extend %naked-list;
    }
}

.mobile-menu {
    @extend %cf;
}

.social-nav {
    display: inline-block;
    vertical-align: top;
    margin: $gutter-large 0;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: top;
        a {
            display: block;
            position: relative;
            width: 34px;
            height: 36px;
            margin: 0;
            font-size: 24px;
            text-decoration: none;
            text-align: left;
            text-indent: -9999px;
            &:before {
                content: "\0020";
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -12px 0 0 -12px;
                text-align:center;
                text-indent: 0;
                @include font-icons;
            }
            &:hover,
            &:active,
            &:focus {
                background:rgba(0,0,0,.2);
                outline:0;
            }
        }
        &.sn-facebook a:before { content: '\e801'; }
        &.sn-twitter a:before { content: '\e802'; }
        &.sn-linkedin a:before { content: '\e803'; }
        &.sn-youtube a:before { content: '\e804'; }
    }
    #header & {
        position: absolute;
        z-index: 2000;
        top: 0;
        right: 0;
        margin: 0;
        color: #fff;
        @include font-smoothing;
        background-color: $color-dark-grey;
        a {
            color: #fff;
        }
    }
    #footer & {
        li {
            a {
                margin: 0 -2px;
            }
        }
        @media (min-width: $mq-min-large) {
            position: absolute;
            top: 12px;
            left: -8px;
        }
    }
}

.connect-nav {
    display: inline-block;
    vertical-align: top;
    margin: $gutter-large 0 $gutter;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: top;
        a {
            display: block;
            position: relative;
            width:  40px;
            height: 40px;
            margin: 0 1px 5px;
            font-size: 20px;
            text-decoration: none;
            text-align: left;
            text-indent: -9999px;
            border: 3px solid $color-href;
            &:hover {
                border: 3px solid $color-href-hover;
            }
            border-radius: 50%;
            &:before {
                content: "\0020";
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -10px 0 0 -10px;
                text-align:center;
                text-indent: 0;
                @include font-icons;
            }
        }
        &.cn-facebook a:before { content: '\e801'; }
        &.cn-twitter a:before  { content: '\e802'; }
        &.cn-linkedin a:before { content: '\e803'; margin-left: -9px; }
        &.cn-youtube a:before  { content: '\e804'; }
        &.cn-email a:before    { content: '\e805'; margin-left: -11px; }
        &.cn-vcard a:before    { content: '\e806'; margin-left: -12px; }
    }
}

.footer-nav {
    margin: $gutter 0 $gutter-large;
    text-transform: uppercase;
    li li {
        display: none; // Hide children
    }
}

#footer {

    .practice-nav {

        li {
            margin: 0 0 5px;

            a {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                max-width: 360px;
                padding: 5px 10px;
                background: rgba(0,0,0,0.1);
            }

            .children {
                display:none;
            }

        }

    }

    @media (min-width: $mq-min-large) {

        .social-nav,
        .disclaimer-nav,
        .footer-nav {
            a {
                position: relative;
                z-index: 1000;
            }
        }

        .practice-nav {
            position: relative;
            overflow: hidden;
            margin: 10px -5px;

            .menu > li {
                float: left;
                clear: left;
                width: 48%;
                margin: 0 0 10px;
                padding: 0 5px;
                &.page-item-131 {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            li {
                margin: 0 0 1px;

                .children {
                    display: block;
                    margin: 0;
                    padding-top: 8px;

                    a {
                        line-height: 1.2;
                        background: none;
                        &:hover {
                            background-color: rgba(0,0,0,0.2);
                        }
                    }

                    .children {
                        margin-left: 20px;
                        padding: 0;
                    }

                }

            }

        }

    }

}

// Mobile Menu
@media (max-width: $mq-max-medium) {

    .mobile-links {
        position: absolute;
        z-index: 2000;
        top: 0;
        left: 0;
        margin: 0;

        a {
            display: block;
            padding: 5px 10px 4px;
            font-size: $font-size-large;
            text-decoration: none;
            text-transform:uppercase;
            color: #fff;
            @include font-smoothing;
            background-color: $color-dark-grey;
        }

        a:hover,
        a:active,
        a:focus {
            background:rgba(0,0,0,.2);
            outline:0;
        }

    }

    .mobile-menu {

        position: relative;
        clear: both;
        margin:0;
        padding:0;
        background: $color-dark-blue;

        .toggle {
            float: right;
            position: relative;
            width: 52px;
            height: 38px;
            margin: 0 $gutter 0 0;
            color: #fff;
            @include font-smoothing;
            cursor: pointer;
            background: rgba(0,0,0,0.2);

            .icon-menu {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 30px;
                height: 30px;
                margin: -15px 0 0 -15px;
                font-size: 30px;
            }

        }

        .drawer {
            position: absolute;
            z-index: 1000;
            padding: 10px 10px 5px;
            top: 100%;
            width: 100%;
            margin-top: -5px;
            background: $color-light-blue;
            box-shadow: 0 12px 9px -9px rgba(0,0,0,.75);
        }

        // Mobile Menu [functionality]
        .drawer{display:none;}
        &.active .drawer{display:block;}

        .utility-nav .menu {
            border-top: 1px solid $color-light-tan;
        }

        .menu {

            > li {
                border-top: 1px solid $color-light-tan;

                &:first-child {
                    border-top: 0;
                }

                ul {
                    margin-bottom: $gutter-large;
                }

                a {
                    display: block;
                    padding: 2px 10px;
                    font-size: $font-size-default;
                    text-decoration: none;
                }

                > a {
                    padding: 5px 0;
                    text-transform: uppercase;
                }

            }

        }

    }

}

.no-js .mobile-menu .drawer {
    display: block;
    position: relative;
    clear: both;
}

// END: Mobile Menu

// Desktop Menu
@media (min-width: $mq-min-large) {

    .utility-nav {
        display: block;
        position: absolute;
        z-index: 2000;
        top: 0;
        right: 155px;
        text-align: right;
        li {
            display: inline-block;
            vertical-align: top;
            a {
                display:block;
                padding: 5px 10px 4px;
                font-size: $font-size-large;
                text-decoration: none;
                text-transform:uppercase;
                color: #fff;
                @include font-smoothing;
                background-color: $color-dark-grey;
            }
            &.current_page_item a,
            a:hover,
            a:active,
            a:focus {
                background:rgba(0,0,0,.2);
                outline:0;
            }
        }
        .menu {
            // Drop-down Functionality
            li {
                position: relative;
            }
            ul {
                display: none;
            }
            li:hover > ul {
                display: block;
            }
            // Nested List - secondary
            ul {
                position: absolute;
                z-index: 2000;
                top: 100%;
                left: 0;
                margin: 0;
                padding: 5px 0;
                width: 185px;
                text-align: left;
                background-color: #fff;
                box-shadow: 0 1px 3px rgba(0,0,0,0.25);
                li {
                    a {
                        display: block;
                        margin: 0;
                        padding: 8px 20px;
                        font-size: 13px;
                        line-height: 1;
                        text-decoration: none;
                        color: #666;
                        border: 0;
                        background: none;
                    }
                    & a:hover,
                    &:hover > a {
                        text-decoration: underline;
                    }
                }
                // Nested List - tertiary
                ul {
                    left: 95%;
                    top: -3px;
                }
            }
            li:last-child > ul {
                left: auto;
                right: 0;
                ul {
                    left: auto;
                    right: 95%;
                }
            }
        }
    }

    .mobile-menu .toggle,
    .mobile-links {
        display: none;
    }

    .global-nav {
        position: absolute;
        top: 130px;
        right: 0;
        li {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            a {
                display:block;
                padding: 5px 0 10px;
                font-size: $font-size-large;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-dark-grey;
            }
            &.current_page_item a,
            a:hover,
            &:hover a,
            a:active,
            a:focus {
                color: $color-href;
                border-bottom: 2px solid $color-href;
            }
        }
        .menu {
            // Drop-down Functionality
            li {
                position: relative;
            }
            ul {
                display: none;
            }
            li:hover > ul {
                display: block;
            }
            // Nested List - secondary
            ul {
                position: absolute;
                z-index: 1000;
                top: 100%;
                left: 0;
                margin: 0;
                padding: 5px 0;
                width: 185px;
                text-align: left;
                background-color: #fff;
                box-shadow: 0 1px 3px rgba(0,0,0,0.25);
                li {
                    a {
                        display: block;
                        margin: 0;
                        padding: 8px 20px;
                        font-size: 13px;
                        line-height: 1;
                        text-decoration: none;
                        color: #666;
                        border: 0;
                        background: none;
                    }
                    & a:hover,
                    &:hover > a {
                        text-decoration: underline;
                    }
                }
                // Nested List - tertiary
                ul {
                    left: 95%;
                    top: -3px;
                }
            }
            li:last-child > ul {
                left: auto;
                right: 0;
                ul {
                    left: auto;
                    right: 95%;
                }
            }
        }
    }
}
// END: Desktop Menu
