//----------------------------------
// SIDEBARS
//----------------------------------
#content {
    @media (min-width: $mq-min-large) {
        .secondary-content {
            float: right;
            width: 33.333333%;
            padding-right: 0;
            padding-left: $gutter-large;
        }
        .primary-content {
            float: left;
            width: 66.666666%;
            padding-right: $gutter-large;
            padding-left: 0;
        }
    }
    .secondary-content {
        > h2,
        .widget .widgettitle {
            position: relative;
            font-size: 22px;
            font-weight: 400;
            text-transform: none;
            margin-bottom: $gutter;
            padding: 4px 24px 4px 6px;
            background: $color-light-blue;
        }
        .widget .widgettitle {
            cursor: pointer;
        }
        li.widget > ul,
        > .menu {
            padding: 0 10px $gutter-large;
            .menu {
                padding-left: $gutter-large;
            }
        }
    }
}

.accordion-tabs {
    margin-top: $gutter-large;
    .accordion-toggle {
        position: relative;
        margin: 0 0 $gutter;
        padding: 4px 24px 4px 6px;
        background: $color-light-blue;
        cursor: pointer;
        &:after {
            content: "\e80b";
            display: block;
            position: absolute;
            top: 50%;
            right: 5px;
            width: 1em;
            height: 1em;
            margin-top: -8px;
            font-size: 16px;
            @include font-icons;
        }
        &.open:after {
            content: "\e80c";
        }
    }
    .accordion-content {
        display: none;
        padding: 0 6px $gutter-large;
        p {
            margin-bottom: $gutter;
        }
        &.open {
            display: block;
        }
    }
}

// Sidebar Signup Form
.secondary-content .gform_wrapper {
    width: 100%;
    max-width: 100% !important;
    margin: 10px 0;
    form {
        overflow: hidden;
    }
    .gform_body {
        float: left;
        width: 65%;
        .top_label input.medium {
            width: 100% !important;
        }
        .gfield_label {
            margin: 10px 0 4px;
            font-weight: 600;
        }
        .gfield_required {
            margin-left: 4px;
            color: #790000;
        }
    }
    .gform_footer {
        clear: none !important;
        float: right;
        width: 35%;
        margin: 18px 0 0 0 !important;
        padding: 16px 0 10px;
        font-size: 14px;
        text-align: right;
        .button {
            padding: 4px 15px;
        }
    }
}

